<!-- ###POLL_HEADER### -->  

<h1>###TITLE###</h1>
<div class="tx_jkpoll_pi1_image"> 
	###QUESTION_IMAGE###
</div>
###QUESTIONTEXT###

<!-- ###POLL_HEADER### -->  
  




<!-- ###POLL_VOTE### -->

<ul class="tx_jkpoll_pi1_answers">
<!-- ###ANSWER_VOTE### -->
<li onclick="document.getElementById('###ANSWERTEXT_CHOICE_ID###').checked = true;">
	<div class="tx_jkpoll_pi1_answer">
		###ANSWERTEXT_IMAGE###
		###ANSWERTEXT_FORM### 
		<label for="###ANSWERTEXT_CHOICE_ID###">###ANSWERTEXT_VALUE###</label>
		<div class="tx_jkpoll_pi1_answer_desciption">###ANSWERTEXT_DESCRIPTION###</div>
	</div>
</li>
<!-- ###ANSWER_VOTE### -->
</ul>

<!--###SR_FREECAP_INSERT### this subpart is removed if CAPTCHA is not enabled! -->
<div class="tx_jkpoll_pi1_captcha">
	<label for="captcha">###SR_FREECAP_NOTICE###</label>
	###SR_FREECAP_CANT_READ###
	<br />
	<input type="text" size="15" id="captcha" name="tx_jkpoll_pi1[captcha_response]" value="">
	###SR_FREECAP_IMAGE###
</div>
<!--###SR_FREECAP_INSERT###-->

<!--###CAPTCHA_INSERT### this subpart is removed if CAPTCHA is not enabled! -->
<div class="tx_jkpoll_pi1_captcha">
	###CAPTCHA_IMAGE###<br />
	###CAPTCHA_INPUT###<br />
</div>
<!--###CAPTCHA_INSERT###-->

###SUBMIT###
<div class="tx_jkpoll_pi1_link_list">
	###LINKLIST###
</div>
<div style="clear:both;">&nbsp;</div>

<!-- ###POLL_VOTE### -->





<!-- ###POLL_ANSWER_VERTICAL### -->

<div class="tx_jkpoll_pi1_result_vertical">
	<p class="tx_jkpoll_pi1_result_votes">###VOTES_LABEL###:&nbsp;###VOTES###</p>
<!-- ###ANSWER_RESULT### -->
	<div class="tx_jkpoll_pi1_answer_vertical">###IMG_PERCENTAGE_RESULT###<br />###PERCENTAGE_RESULT###<br />###ANSWERTEXT_RESULT###<br />###AMOUNT_VOTES### ###AMOUNT_VOTES_LABEL###</div>
<!-- ###ANSWER_RESULT### -->
	<div style="clear:both; padding-bottom:20px;"></div>
</div>

<!-- ###POLL_ANSWER_VERTICAL### -->



<!-- ###POLL_ANSWER_HORIZONTAL### -->

<div class="tx_jkpoll_pi1_result_horizontal">
	<p class="tx_jkpoll_pi1_result_votes">###VOTES_LABEL###:&nbsp;###VOTES###</p>
<!-- ###ANSWER_RESULT### -->
	<p class="tx_jkpoll_pi1_answer_horizontal">###IMG_PERCENTAGE_RESULT###<br />###PERCENTAGE_RESULT###&nbsp;&nbsp;###ANSWERTEXT_RESULT###&nbsp;&nbsp;###AMOUNT_VOTES### ###AMOUNT_VOTES_LABEL###</p>
<!-- ###ANSWER_RESULT### -->
</div>

<!-- ###POLL_ANSWER_HORIZONTAL### -->



<!-- ###POLL_ANSWER_GOOGLE### -->

<div class="tx_jkpoll_pi1_result_google">
	<p class="tx_jkpoll_pi1_result_votes">###VOTES_LABEL###:&nbsp;###VOTES###</p>
	<p><img src="###GOOGLE_CHART###"></p>
<!-- ###ANSWER_RESULT### -->
	<p class="tx_jkpoll_pi1_answer_google">###ANSWERTEXT_RESULT###: ###PERCENTAGE_RESULT###,&nbsp;###AMOUNT_VOTES### ###AMOUNT_VOTES_LABEL###</p>
<!-- ###ANSWER_RESULT### -->
</div>

<!-- ###POLL_ANSWER_GOOGLE### -->





<!-- ###POLL_LIST### -->  

<div class="tx_jkpoll_pi1_poll_list">
<!-- ###POLL_LINK### -->
	<p>###LINK###</p>
<!-- ###POLL_LINK### -->
	<br />###LINKVIEW###
</div>

<!-- ###POLL_LIST### --> 
